@{
    ViewData["Title"] = "Начало";
}


<div class="hero-container">
    <div class="glass-box">
        <h1 class="hero-title">Добре дошли в Биографика</h1>
        <p class="hero-subtitle">Разгледайте вдъхновяващи личности, които са променили света.</p>
        <a asp-area="" asp-controller="People" asp-action="Index" class="btn-start">
            <i class="bi bi-person-fill"></i> Започни
        </a>
    </div>
</div>
